h1{

color:#bbaadd;
text-align:center;


}

.header{
background-color: #109ae9;
width:100%;
height:80px;
text-align:center;
margin:auto;
padding:20px;







}



.nav{

background-color: #a20d26;
width:100%;
height:70px;
text-align:center;
margin:auto;
padding:20px;







}

.container{
background-color: #18e0ce ;
width:100%;
height:1000px;
text-align:center;
margin:0px;
padding:5px;
display:flex;




}
.content{
background-color: #b2ea0f  ;
width:90%;
height:786px;
text-align:center;
margin:auto;
padding:5px;







}
.slide{

background-color:#994060;
width:30%;
height:1000px;
margin:0px;
padding:5px;


}






body{

background-color:769922;





}


.title{
color:#ee6500;




}

.another{
color:#44e70c;


}



